*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrap{
    margin: 15% 30% ;
    border: 2px solid black;
    width: 30%;
    padding: 2% 6%;
}
h2{
    padding-left: 8%;
    padding-bottom: 1%;
    font-weight: 500;
}    
span{
    border: 2px solid black;
    padding: 1% 2%;
}
input{
    padding: 2%;
}
#resetValue{
    margin-left: 30%;
}